<div class="row">
    <div class="col"></div>
    <div class="col-6">
      <h1>Zaproś do wspólnego korzystania z biblioteki</h1>
      <form>
        <div class="form-group">
          <label for="inputEmail">Podaj e-mail osoby, którą chcesz zaprosić:</label>
          <input type="text" class="form-control" id="inputEmail" name="euemail" placeholder="Wpisz e-mail..." [(ngModel)]="toInviteEmail">
        </div>
        <button type="button" class="btn btn-primary" (click)="sendInvitation()">Wyślij zaproszenie</button>
      </form>
      <p-progressSpinner *ngIf="showSpinner"></p-progressSpinner>
      <p>{{message}}</p>
    </div>
    <div class="col"></div>
  </div>